<div class="margin">
    <mat-stepper [orientation]="(stepperOrientation | async)!" linear>
        <mat-step [stepControl]="quizForm" label="Fill Quiz details">

            <ng-template matStepContent>
                <form [formGroup]="quizForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" type="text">
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Description:</mat-label>
                        <textarea matInput formControlName="description"> </textarea>
                    </mat-form-field>
    
                    <div>
                        <button mat-flat-button matStepperNext [disabled]="!quizForm.valid" color="primary">Next</button>
                    </div>
                </form>
            </ng-template>
        </mat-step>

        <mat-step label="Add Questions">
            <ng-template matStepContent>
                <div>
                    <app-question-list #questionList></app-question-list>

                    <mat-list>
                        @for (question of questionList.totalSelectedQuestions; track $index) {
                            <mat-list-item>{{question.questionText}}</mat-list-item>
                        }
                    </mat-list>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </ng-template>
        </mat-step>

        <mat-step label="Review">
            <ng-template matStepContent>
                
                <div>
                    <mat-list>
                        <mat-list-item>Name: {{this.quizForm.value.name}}</mat-list-item>
                        <mat-list-item>Description: {{this.quizForm.value.description}}</mat-list-item>
                    </mat-list>

                </div>
                
                <div>
                    <mat-list>
                        @for (question of questionList.totalSelectedQuestions; track $index) {
                            <mat-list-item>{{question.questionText}}</mat-list-item>
                        }
                    </mat-list>
                </div>

                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="submitQuiz()">Save</button>
                </div>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>